# Transform Data
- from massive xml file to csv file that is easy to use
---------------------------------------------------------
- hr data
- audio exposure data
- step count data

In [1]:
# import dependencies
import pandas as pd
from bs4 import BeautifulSoup as bs

In [2]:
# load the data
file_path = '../Resources/export.xml'
with open(file_path, 'r') as f:
    data = f.read()
bs_data = bs(data, 'xml')

### Heart Rate Data

In [3]:
# find all of the hr data
hr_data = bs_data.find_all(type='HKQuantityTypeIdentifierHeartRate')

In [4]:
# create the lists we want to hold the data
date_creation = []
time_creation = []
hr_value = []

# create a dictionary with the data
hr_dict = {
    'date_created': date_creation,
    'time_created': time_creation,
    'values': hr_value
}

# loop through the data to pull the data we need
for idx, hr in enumerate(hr_data):
    creation_list = hr['creationDate']
    creation = creation_list.split()
    date_creation.append(creation[0])
    time_creation.append(creation[1])

    hr_value.append(float(hr['value']))

In [5]:
# create a df
hr_df = pd.DataFrame(hr_dict)
hr_df.head()

  date_created time_created  values
0   2015-12-25     14:06:03    65.0
1   2015-12-25     14:25:52   107.0
2   2015-12-25     14:33:08    67.0
3   2015-12-25     14:43:08    97.0
4   2015-12-25     14:52:27    61.0

In [6]:
# export the data to a csv file
new_file_path = '../Resources/hr_data.csv'
hr_df.to_csv(new_file_path, index=False)

### Audio Exposure

In [7]:
# find all of the audio exposure data
sound_data = bs_data.find_all(type="HKQuantityTypeIdentifierEnvironmentalAudioExposure")

In [8]:
# create the lists we want to hold the data
date_creation = []
time_creation = []
sound_value = []

# create a dictionary with the data
sound_dict = {
    'date_created': date_creation,
    'time_created': time_creation,
    'values': sound_value
}

# loop through the data to pull the data we need
for idx, sound in enumerate(sound_data):
    creation_list = sound['creationDate']
    creation = creation_list.split()
    date_creation.append(creation[0])
    time_creation.append(creation[1])

    sound_value.append(float(sound['value']))

In [9]:
# create a df
sound_df = pd.DataFrame(sound_dict)
sound_df.head()

  date_created time_created   values
0   2021-03-09     15:14:42  60.6016
1   2021-03-09     15:38:53  66.6931
2   2021-03-09     16:05:54  57.5056
3   2021-03-09     16:39:09  71.8202
4   2021-03-09     17:09:26  69.3809

In [10]:
# export the data to a csv file
new_file_path = '../Resources/sound_data.csv'
sound_df.to_csv(new_file_path, index=False)

### Step Count

In [11]:
# find all of the step data
step_data = bs_data.find_all(type="HKQuantityTypeIdentifierStepCount")

In [12]:
# create the lists we want to hold the data
date_creation = []
time_creation = []
step_value = []

# create a dictionary with the data
step_dict = {
    'date_created': date_creation,
    'time_created': time_creation,
    'values': step_value
}

# loop through the data to pull the data we need
for idx, step in enumerate(step_data):
    creation_list = step['creationDate']
    creation = creation_list.split()
    date_creation.append(creation[0])
    time_creation.append(creation[1])

    step_value.append(float(step['value']))

In [13]:
# create a df
step_df = pd.DataFrame(step_dict)
step_df.head()

  date_created time_created  values
0   2019-01-11     21:06:02    82.0
1   2019-01-11     21:15:42   383.0
2   2019-01-11     21:27:32    27.0
3   2019-01-11     21:46:31    93.0
4   2019-01-11     22:10:05    33.0

In [14]:
# export the data to a csv file
new_file_path = '../Resources/step_data.csv'
step_df.to_csv(new_file_path, index=False)