In [1]:
# import dependencies
import pandas as pd

from bioinfokit.analys import stat

In [5]:
# load the csv
file_path = '../Resources/work_hr.csv'

# create a df
df = pd.read_csv(file_path)

#show the df
df.head()

  date_created time_created  values  ranges  day_sections  day_of_week
0   2022-03-28     18:44:22    96.0  normal             0            0
1   2022-03-28     18:45:04   105.0  normal             0            0
2   2022-03-28     18:45:09    98.0  normal             0            0
3   2022-03-28     18:45:14   100.0  normal             0            0
4   2022-03-28     18:45:19   100.0  normal             0            0

In [8]:
df['day_sections'].value_counts()

0    5892
1    2229
9     657
2     442
3     379
4     358
6     350
7     350
8     337
5     300
Name: day_sections, dtype: int64

In [11]:
res = stat()
res.tukey_hsd(df=df, res_var='values', xfac_var='day_sections', anova_model='values ~ C(day_sections)')
res.tukey_summary

    group1  group2       Diff      Lower      Upper    q-value   p-value
0        0       1  11.898209  10.284469  13.511948  32.995026  0.001000
1        0       2  15.843936  12.643482  19.044389  22.153982  0.001000
2        0       4  17.940930  14.408430  21.473429  22.728097  0.001000
3        0       5  13.568827   9.727878  17.409775  15.808988  0.001000
4        0       6  11.838882   8.268526  15.409238  14.838823  0.001000
5        0       7  13.666645  10.096289  17.237001  17.129736  0.001000
6        0       8  13.557381   9.922604  17.192159  16.691610  0.001000
7        0       9  11.364605   8.695360  14.033850  19.053123  0.001000
8        0       3  17.437997  13.998995  20.876999  22.691563  0.001000
9        1       2   3.945727   0.566746   7.324708   5.225664  0.008390
10       1       4   6.042721   2.347702   9.737740   7.318400  0.001000
11       1       5   1.670618  -2.320309   5.661545   1.873284  0.900000
12       1       6   0.059327  -3.671900   3.790553   0.071154  0.900000
13       1       7   1.768437  -1.962790   5.499663   2.120988  0.892432
14       1       8   1.659173  -2.133744   5.452090   1.957576  0.900000
15       1       9   0.533603  -2.347279   3.414485   0.828883  0.900000
16       1       3   5.539788   1.934050   9.145526   6.875420  0.001000
17       2       4   2.096994  -2.517322   6.711310   2.033715  0.900000
18       2       5   2.275109  -2.579399   7.129617   2.097284  0.900000
19       2       6   4.005054  -0.638307   8.648415   3.859901  0.162120
20       2       7   2.177290  -2.466071   6.820651   2.098380  0.900000
21       2       8   2.286554  -2.406523   6.979631   2.180339  0.866636
22       2       9   4.479330   0.487059   8.471602   5.021036  0.014156
23       2       3   1.594061  -2.949076   6.137198   1.570180  0.900000
24       4       5   4.372103  -0.707454   9.451660   3.851810  0.164372
25       4       6   6.102048   1.223887  10.980209   5.597831  0.003039
26       4       7   4.274284  -0.603876   9.152445   3.921097  0.145714
27       4       8   4.383548  -0.541959   9.309056   3.982677  0.130463
28       4       9   6.576325   2.313241  10.839408   6.903346  0.001000
29       4       3   0.502933  -4.279927   5.285793   0.470568  0.900000
30       5       6   1.729945  -3.376011   6.835900   1.516196  0.900000
31       5       7   0.097819  -5.008137   5.203774   0.085732  0.900000
32       5       8   0.011445  -5.139764   5.162654   0.009943  0.900000
33       5       9   2.204221  -2.317749   6.726191   2.181362  0.866191
34       5       3   3.869170  -1.145815   8.884156   3.452617  0.301453
35       6       7   1.827763  -3.077880   6.733407   1.667340  0.900000
36       6       8   1.718500  -3.234228   6.671227   1.552763  0.900000
37       6       9   0.474277  -3.820228   4.768781   0.494218  0.900000
38       6       3   5.599115   0.788228  10.410002   5.208282  0.008781
39       7       8   0.109264  -4.843463   5.061991   0.098726  0.900000
40       7       9   2.302040  -1.992464   6.596544   2.398833  0.771671
41       7       3   3.771352  -1.039535   8.582238   3.508101  0.279167
42       8       9   2.192776  -2.155434   6.540987   2.256753  0.833426
43       8       3   3.880615  -0.978274   8.739504   3.574077  0.253750
44       9       3   6.073392   1.887455  10.259328   6.492903  0.001000

In [12]:
res = stat()
res.tukey_hsd(df=df, res_var='values', xfac_var='day_of_week', anova_model='values ~ C(day_of_week)')
res.tukey_summary

C:\Users\bmac9\anaconda3\envs\mlenv\lib\site-packages\bioinfokit\analys.py:402: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  mult_group[ele] = df[df[xfac_var] == ele].mean().loc[res_var]

   group1  group2       Diff      Lower      Upper    q-value  p-value
0       0       1   8.867856   7.424120  10.311591  23.698519    0.001
1       0       2  18.440600  16.835633  20.045566  44.330171    0.001
2       0       3  22.616826  20.961094  24.272557  52.702592    0.001
3       0       4  12.728078  11.155768  14.300388  31.233081    0.001
4       1       2   9.572744   7.916823  11.228665  22.304219    0.001
5       1       3  13.748970  12.043800  15.454140  31.109474    0.001
6       1       4   3.860222   2.235932   5.484513   9.169359    0.001
7       2       3   4.176226   2.332548   6.019905   8.739551    0.001
8       2       4   5.712522   3.943380   7.481663  12.458205    0.001
9       3       4   9.888748   8.073426  11.704069  21.017349    0.001